body {
    padding-bottom: 10%;
    background-color: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
}

.inline_element {
    display: inline;
}

main {
    text-align: center;
    overflow-y: scroll;
    max-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
}